%h1= humanize_type!(type)
%table.table.table-striped
  %thead
    %th.col-md-9 Name
    %th.col-md-3 Price
  - meals.each do |meal|
    %tr
      %td= meal.item.name
      %td
        = meal.price
        %small UAH
      - if defined?(f)
        %td.actions
          = f.fields_for MenuItem.new do |ff|
            = ff.radio_button :meal_id, meal.id, name: "order[menu_items_attributes][#{menu_item_index(type)}][meal_id]",
                              class: 'radio', checked: false, data: { type: meal.item.item_type, price: meal.price }
