= bootstrap_devise_error_messages!
.panel.panel-default.devise-bs
  .panel-heading
    %h4 System authorization
  .panel-body
    = form_tag url: new_api_v1_user_url do |f|
      .form-group
        = f.label :access_token
        = f.text_field :access_token, class: 'form-control'
      = f.submit t('.sign_up', :default => 'Sign up'), class: 'btn btn-primary right'
= render 'devise/shared/links'
