.modal-header
  %h4.modal-title= meal.present? ? 'Changing meal' : 'Creating meal'
= bootstrap_form_for meal.present? ? meal : Meal.new, remote: true, format: :js do |f|
  .modal-body
    .form-group
      = f.select :name, options_for_select(meals_params_from_file[type].map{|params| params[:name] }, selected: f.object.name), { include_blank: '<Nothing is selected>' }
    .form-group
      = f.number_field :price, step: '0.01', min: '0.01'
    = f.hidden_field :meal_type, value: type
    = hidden_field_tag :type, type
  .modal-footer
    .actions
      = f.submit 'OK', class: ' btn btn-shadow btn-info confirm', data: { target: '#meals-action', toggle: :modal }
