.modal-header
  %h4.modal-title= meal.present? ? 'Changing meal' : 'Creating meal'
= bootstrap_form_for meal.present? ? meal : Meal.new, remote: true, format: :js do |f|
  .modal-body
    .form-group
      = f.select :item_id, options_from_collection_for_select(Item.send("#{type}"), :id, :name, selected: meal.present? ? meal.item.id : ''), { include_blank: '<Nothing is selected>'}
    .form-group
      = f.number_field :price, step: '0.01', min: '0.01'
    = hidden_field_tag :type, type
  .modal-footer
    .actions
      = f.submit 'OK', class: ' btn btn-shadow btn-info confirm', data: { target: '#meals-action', toggle: :modal }
