- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th.col-md-12= smart_listing.sortable "Name", "name"
    %tbody
      - smart_listing.collection.each do |o|
        %tr.editable{data: {id: o.id}}
          = smart_listing.render object: o, partial: "items/item", locals: {object: o}
      = smart_listing.item_new colspan: 6, link: new_item_path
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!