= content_for :styles do
  = stylesheet_link_tag 'items'

.panel.panel-default
  .panel-heading
    %h4 Items list
  .panel-body
    - unless @food.empty?
      %table.table.table-striped
        %thead
          %th.col-md-8 Name
          %th.col-md-4 Type
        %tbody
          - @food.each do |item|
            %tr
              %td= item.name
              %td= humanize_type!(item.item_type)
              %td.actions
                = link_to render_modal_path(item: item, purpose: :items), remote: true do
                  %i.fa.fa-pencil
                - if Meal.limit(1).where(item: item).empty?
                  = link_to item_path(item), method: :delete, data: { confirm: 'Are you sure?'} do
                    %i.fa.fa-trash
          = link_to render_modal_path(purpose: :items), remote: true do
            %i.fa.fa-plus.right
          .modal.fade{ id: 'items-action', 'aria-hidden': true, 'aria-labelledby': :myModalLabel, role: :dialog, tabindex: '-1' }
            .modal-dialog
              .modal-content
      .paginator
        = will_paginate @food, renderer: BootstrapPagination::Rails, remote: true
    - else
      %p.warning No food!