.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'JetRubyTest', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Link 1', '/path1'
        %li
          = link_to 'Link 2', '/path2'
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.role?(:admin)
            %li
              = link_to 'Users list', users_path
            %li
              = link_to 'Food list', items_path
          %li
            = link_to 'Private cabinet', edit_user_registration_path
          %li
            = link_to 'Logout', destroy_user_session_path, method: 'delete'
        - else
          %li
            = link_to 'Sign in', new_user_session_path